<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration debug="true">

	<!-- Use conditions as defined in http://logback.qos.ch/manual/configuration.html to change the appenders. -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsolAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="${root-level:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>